body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  padding: 20px;
  color: #ffffff; /* cor branca para o texto */
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
}

#titulo-email,
#titulo-whatsapp {
  color: #ffffff; /* cor branca */
  margin-top: 40px; /* espaço acima do título */
  text-align: center;
  margin-bottom: 20px; /* Espaço abaixo do título */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* espaço acima do botão */
}

button:hover {
  background-color: #dddddd; /* fundo cinza claro ao passar o mouse */
}

form {
  max-width: 500px;
  width: 100%; /* Para ajustar o formulário ao centro */
  padding: 20px;
  background-color: #333333;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px; /* Espaço abaixo do formulário */
}

label {
  font-weight: bold;
  color: #cccccc;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #555555;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #555555;
  color: #ffffff;
}

textarea {
  height: 100px;
}

input[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffffff; /* botão branco */
  color: #000000; /* texto preto */
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #dddddd; /* fundo cinza claro ao passar o mouse */
}
