*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body {
    font-family: 'Poppins', sans-serif;
    color: #232332;
    background: #000000;
}

.menu-top {
    width: 100%;
    background: #fff;
    height: 85px;
}

.elements-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 0.75rem;
    margin: 0% 10% 0% 10%;
    align-items: center;
}

.wrapper {
    margin-left: 5%;
    width: 90%;
    margin-right: 5%;
}

a {
    text-decoration: none;
}

nav.navig-one {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.a-top {
    color: #232323;
    font-size: 16px;
    font-weight: 100;
}
.a-top:hover {
    color: #4e4e4e;
}
.elements-top img, .logo img {
    width: 5vh;
}

.logo_topo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}


.information {
    background: #fff;
    margin-top: 5vh;
    width: 50%;
    padding: 10vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5vh;
}

.faq h3 {
    font-weight: 400;
    letter-spacing: 1px;
}

.justify-content.wrapper {
    display: flex;
    justify-content: center;
}

p {
    line-height: 3vh;
}

h3 {
    margin: 15px 0px;
}

h2 {margin: 20px 0;}

footer {
    width: 100%;
    box-sizing: border-box;
    height: 145px;
    padding: 20px 0;
    text-align: center;
    margin-top: 10%;
}

.social-icons {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
}

.social-icons svg {
    width: 30px;
    height: 15px;
}

.footer-elements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    background: #fff;
}
@media only screen and (max-width: 765px){
    .information {
    background: #fff;
    margin-top: 5vh;
    width: 100%;
    padding: 4vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5vh;
}
}